@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

::view-transition-old(root) {
  animation: 90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}

::view-transition-new(root) {
  animation: 210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}

::view-transition-old(header),
::view-transition-new(header) {
  mix-blend-mode: normal;
}

::view-transition-old(page),
::view-transition-new(page) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-old(header) {
  animation: 300ms cubic-bezier(0.4, 0, 0.2, 1) both magic-move-out;
}

::view-transition-new(header) {
  animation: 300ms cubic-bezier(0.4, 0, 0.2, 1) both magic-move-in;
}
